*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}
.quantrong{
        float: left;
        width: 50%;
}
.register-form{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 25px;
}
.input-box{
    margin-bottom: 20px;
}
.input-box input[type='text'],
.input-box input[type='password'],
.input-box input[type='date']{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    height: 40px;
    color: #666666;
}
.input-box select{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    height: 40px;
    color: #666666;
}
